<app-header
  [title]="'2021'"
  [backText]="'Daily'"
  [backUrl]="'/plan'"
  [categories]="categories$ | async"
></app-header>

<ion-content>
  <div class="ion-padding-top ion-text-center">
    <app-task-group
      [title]="'Yearly goals'"
      [tasks]="goalsForPeriod"
      [isMain]="true"
    ></app-task-group>

    <app-task-group
      *ngFor="let taskPeriod of taskPeriods$ | async"
      [title]="taskPeriod.date | date: 'mediumDate'"
      [titleLink]="'../quarterly'"
      [tasks]="taskPeriod.goals"
    ></app-task-group>
  </div>
</ion-content>
