<app-header
  [title]="'March 20, 2021'"
  [backText]="'Weekly'"
  [backUrl]="'/plan/weekly'"
  [categories]="categories$ | async"
></app-header>

<ion-content>
  <div class="ion-padding-top ion-text-center">
    <h2>Tasks</h2>

    <ng-container *ngIf="goals$ | async as goals">
      <div *ngIf="isLoadingGoals$ | async; else goalList">Loading...</div>

      <ng-template #goalList>
        <ion-list>
          <app-task
            *ngFor="let task of goals; trackBy: tasksTrackBy"
            [task]="task"
            (delete)="onDelete($event)"
            (add)="onAdd($event)"
          ></app-task>
        </ion-list>

        <ion-button (click)="createTempTask()" autofocus class="mt-m"
          >Create task</ion-button
        >
      </ng-template>
    </ng-container>
  </div>
</ion-content>
