<app-header
  [title]="'March, 2021'"
  [backText]="'Quarterly'"
  [backUrl]="'/plan/quarterly'"
  [categories]="categories$ | async"
></app-header>

<ion-content>
  <div class="ion-padding-top ion-text-center">
    <app-task-group
      [title]="'Monthly goals'"
      [tasks]="goalsForPeriod"
      [isMain]="true"
    ></app-task-group>

    <!-- <app-task-group
      *ngFor="let taskPeriod of taskPeriods$ | async"
      [title]="taskPeriod.date | date: 'mediumDate'"
      [titleLink]="'../weekly'"
      [tasks]="taskPeriod.goals"
    ></app-task-group> -->
  </div>

  
  <app-calendar-header
    [calendarDate]="calendarDate"
    (onMonthChange)="monthChanges($event)"
    >Loading header and nav ...</app-calendar-header
  >
  <app-month [calendarDate]="calendarDate" [currentDate]="currentDate" [dailySummaries]="dailySummaries$ | async"
    >Loading month ...</app-month
  >
</ion-content>

