<ion-item>
  <ion-checkbox slot="start"></ion-checkbox>
  <div>
    <ion-input [value]="task.name"></ion-input>
  </div>
  <div slot="end">
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="edit.emit(task)">
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button>
      <ion-button color="secondary" (click)="delete.emit(task)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
</ion-item>