<app-header
  [title]="'Q1, 2021'"
  [backText]="'Yearly'"
  [backUrl]="'/yearly'"
  [categories]="categories$ | async"
></app-header>

<ion-content>
  <div class="ion-padding-top ion-text-center">
    <app-task-group
      [title]="'Quarterly goals'"
      [tasks]="goalsForPeriod"
      [isMain]="true"
    ></app-task-group>

    <app-task-group
      *ngFor="let taskPeriod of taskPeriods$ | async"
      [title]="taskPeriod.date | date: 'mediumDate'"
      [titleLink]="'/monthly'"
      [tasks]="taskPeriod.tasks"
    ></app-task-group>
  </div>
</ion-content>
